includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    ignoreErrors:
        - identifier: missingType.generics
        - '#Parameter \#1 \$onFulfilled of method React\\Promise\\PromiseInterface<mixed>::then\(\) expects \(callable\(mixed\):#'
